name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
          name: Check out repository code
          uses: actions/checkout@v3
      -
          name: Set secrets for appsettings
          uses: microsoft/variable-substitution@v1
          with:
            files: ./appsettings.json
          env:
            HCaptchaSecret: ${{ secrets.HCAPTCHASECRET }}
      -
          name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
          name: Build and push
          uses: docker/build-push-action@v2
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/xhspicextractor:latest
      -
          name: Get OKTETO Kubeconfig
          uses: okteto/actions/namespace@v1
          id: namespace
          with:
            token: ${{ secrets.OKTETO_TOKEN }}
            namespace: ${{ secrets.OKTETO_NAMESPACE }}
      -
          name: Deploy and Wait
          uses: okteto/actions/deploy@v1
          env:
            KUBECONFIG: ${{ steps.namespace.outputs.kubeconfig }}
          with:
            namespace: ${{ secrets.OKTETO_NAMESPACE }}
            manifest: k8s.yml
            tag: ${{ secrets.DOCKERHUB_USERNAME }}/xhspicextractor:latest
            waitOn: deployment/xhspicextractor
