name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
          name: Check out repository code
          uses: actions/checkout@v3
      -
          name: Set secrets for appsettings
          uses: microsoft/variable-substitution@v1
          with:
            files: ./appsettings.json
          env:
            HCaptchaSecret: ${{ secrets.HCAPTCHASECRET }}
      -
          name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
          name: Build and push
          uses: docker/build-push-action@v2
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/xhspicextractor:latest
      -
          name: Login
          uses: okteto/login@latest
          with:
            token: ${{ secrets.OKTETO_TOKEN }}
      -
          name: Activate namespace
          uses: okteto/namespace@latest
          with:
            namespace: ${{ secrets.OKTETO_NAMESPACE }}
      -
          name: Deploy
          uses: okteto/apply@latest
          with:
            manifest: k8s.yml
